@CHARSET "ISO-8859-1";



div#proposition {

padding-top : 20px;
width : 80%;
margin : auto;
text-align : center;
display : block;
margin-bottom: 20px;
}

div#reponseProposition {
	
	margin-top : 5px;
	margin-left : 2%;
	margin-bottom : 20px;
}

div#reponseProposition  div.ligneReponseProposition {
	border : 1px solid black;
	display:table-row;   
	background-color :  #E6F0FF;
}

div#reponseProposition  p.colonneMessReponse {
	display:table-cell; 
	border:1px solid white;	
	padding-top: 10px;
	padding-bottom : 10px;
	padding-left : 3px;
	padding-right : 3px;

}
div#reponseProposition  div.colonneBoutonReponse{
	display:table-cell; 
	border:1px solid white;	
	min-width : 200px;
}


div#lienListeVoeuxOrdonnes{
	
	display : none;
}

div#listeVoeuxOrdonnes{
	margin-top : 5px;
	margin-bottom : 5px;
	max-width : 1200px;		
	margin-left : 2%;	
	
}

div#listeVoeuxOrdonnes p.titreListeVoeuxOrdonnes{
	text-align : center;	
}

div#listeVoeuxOrdonnes  div.ligneVoeu{
	border : 1px solid white;
	display:table-row;    
    text-align: left;
    background-color : #E6F0FF;	
	height : 25px;	
}

div#listeVoeuxOrdonnes  div.ligneVoeu span{
		
	font-weight : bold; 
}	

div#listeVoeuxOrdonnes  div.ligneVoeu span.colonneVoeu{
	width: 50px;
	min-width : 50px;
	display:table-cell; 
	border:1px solid white; 
	font-weight : bold; 
}
div#listeVoeuxOrdonnes  div.ligneVoeu span.colonneFormation{
	width: 1000px;		
	display:table-cell; 
	border:1px solid white;	
}
div#listeVoeuxOrdonnes  div.ligneVoeu span.colonneSituation{
	width: 20%;			
	display:table-cell; 
	border:1px solid white;
}	

div#listeVoeuxOrdonnes  div.ligneVoeu  p{
	
	margin-top : 0px; 
	margin-bottom : 0px; 

}	


div#listeVoeuxOrdonnes  div.ligneVoeu  p.colonneFormation{
	width: 1000px;		
	display:table-cell; 
	border:1px solid white;
}	

div#listeVoeuxOrdonnes  div.ligneVoeu  p.colonneSituation{
	width: 20%;	
	display:table-cell; 
	border:1px solid white;
}	

div#listeVoeuxOrdonnes  div.ligneVoeu  div.colonneDemissionner {
	width: 160px;	
	min-width : 160px;
	display:table-cell; 
	border:1px solid white;
}




/** CSS connexion	*/

div#chapeau div#bandeau2 div#connexion {
	padding-top: 5px;
	height: 30px;
	_height: 35px; /** taille pour ie */ 
}

div#chapeau div#bandeau2 div#connexion label{
	font-weight : bold; 
	padding-left: 2px;
}
div#chapeau div#bandeau2 div#connexion input{
	padding: 0;
}

/** Message etablissement.jsp*/

div#messageEtablissement{
	display:table-row;   
	width : 90%;
	margin-left : 3%;
	margin-top: 3%;
	margin-bottom : 3%;
	
}

div#messageEtablissement div.messageEtablissementRdvMobile {
	display : none;	
}

div#messageEtablissement div.texteMessageEtablissement{
	display:table-cell; 
	width :70%;
	margin-bottom: 5px;	
	padding : 5px;
	border : 1px solid black;	
	background-color :#E4E3F9;
}


div#messageEtablissement div.messageEtablissementRdv{
	width :25%;
	display:table-cell; 
   	border : 1px solid black;	
	background-color :#E4E3F9;
	padding : 5px;
}

/** Confirmation Reponse */

p#messageConfirmationReponse{
text-align: center;

}

div#boutonConfirmationReponse{
	margin-left: 40%;
		
}	

div#ligneBoutonConfirmationReponse {
	display:table-row;  
	min-width : 500px
		
}

div#boutonConfirmationReponse  div#boutonAnnulerConfirmationReponse {
	display:table-cell; 
}

div#boutonConfirmationReponse  div#boutonConfirmConfirmationReponse {
	display:table-cell; 
	width : 200px;
}

/** logo mobile */

div.headermobile {
	display : none;	
}	

/** bouton sans tab */
a.newBouton {
	display:inline-block;
	width : auto;
	height: 17px;
	-moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari et Chrome */
	padding: 0% 5px; 
	margin: 0px 1%; 
	margin-right : 10px;
	margin-left : 10px;
	border-radius: 3px;
	background: url("../IMG/bouton2/btn_bg.gif") repeat-x scroll center center transparent;
	/*background-image: url("../IMG/bouton2/btn_test_bg.gif");*/
    text-align: center;	
	font: bold 12px Arial;
	text-decoration: none;	
	color: #000000;
	border : 1px solid #DDDDDD;
}

a:hover {
	color : red;
}


/** lien deconnexion */

div#identite a#lien_deconnexion_bis {
	
	display : none;
}	

/** bouton procédure complémentaire */

div.messageProcedureCmpMobile {
	display : none;
	
}	

/** pied de page */
#pied span#copyright{
	display : block;
	margin-top:0px;
	font-family : verdana, monospace, sans-serif;
	font-size : 12px;
	font-weight : normal;
	text-align : center;
	color:grey;
}


/** continuer.jsp */

div#divContinuer {

	margin-top: 20px;	
	
}

div#divContinuer div.boutonContinuer {
	margin-top : 10px;	
	display : block;
}


/** lien message etablissement */ 

a#lienMessageEtablissement {
	display : none;		
}	

div.boutonRetourMobile  #btnRetour{
	display : none;	
}


/** Info bulle */

div.ligneVoeu a.infoBulle:link,
div.ligneVoeu a.infoBulle:visited {
	margin: 0;
	font-size: 1em;
}	

div.ligneVoeu  a.infoBulle{
    position:relative; 
    z-index:24;
    background-color:none;
    color:#000;
    text-decoration:none;
    cursor : default;
    margin: none;
}

div.ligneVoeu  a.infoBulle:hover{
z-index:25;
background-color:none; 
cursor : default;
}

div.ligneVoeu  a.infoBulle span{display: none}

div.ligneVoeu  a.infoBulle:hover span{ 
/*le contenu de la balise span ne 
sera visible que pour l'état a:hover */
 	display:block; 
 	position:absolute;    
    top:2em; left:2em; width:20em;
    border:1px solid #6699cc;
    background-color:#F4F7A5; 
    color:black;
    text-align: left;
    font-weight:normal;
    font-size : 12px;
    padding:1px;
    cursor : default;
    
}

div.contentproposition div#proposition div#boutonLienPC{
	display : none;

}
