@CHARSET "UTF-8";

/* Le chapeau est toute la partie sup�rieure du cadre qui contient l'identit� du candidat
   et les liens vers contact,aide et d�connexion
 */
#cadre #header #chapeau {
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	height: 108px;
}

#cadre #header #chapeau div {
	float: left;
	white-space: nowrap;
}

/* Le logo du minist�re en haut � gauche */
#cadre #header #cadre_haut #logo_mesr {
	height: 106px;
	width: 120px;
	background: white url("../IMG/logo_mesr.png") no-repeat center center;
	border: 2px solid #D1E2EC;
}

/* La partie identit� du candidat ou saisie du login et mot de passe */
#cadre #header #chapeau #bandeau2 {
	margin-top: 35px;
	background: #D1E2EC repeat-x;
}
#cadre #header #chapeau #bandeau2 table {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
#cadre #header #chapeau #bandeau2 table td {
	margin: 0;
	padding: 0px 4px 0px 4px;
	font-size: 12px;
	font-weight: bold;
	vertical-align: middle;
	white-space: nowrap;
	height: 35px;
}
#cadre #header #chapeau #bandeau2 input {
	border: 1px solid gray;
	height: 22px;
	padding: 0px 0px 0px 0px ;
	margin: 0;
}

/* Le bouton "connexion" */
#cadre #header #chapeau #bandeau2 input.btn_submit_frm_auth {
	background-color: #F2F2F2;
	padding: 0px 2px 0px 2px;
	outline: none;
}
#cadre #header #chapeau #bandeau2 form {
	padding: 0;
	margin: 0;
}
#cadre #header #chapeau #bandeau2 #identite {
	padding-left: 10px;
	font-size: 16px;
	height: 35px;
	font-weight: bold;
	line-height: 35px;
}
#cadre #header #cadre_haut #imgBiseau {
	margin-top: 35px;	
	height:35px;
	background-image: url("../IMG/Biseau2.gif");
	width:86px;
}

/* Le bandeau3 est la partie qui contient les liens contact, aide et deconnexion*/
/* le mieux �tant de mettre ( car sa assure l'alignement avec l'affichage des nouveaux mail) :

		  position : absolute;
		  top :95px;
		  text-align :right;
		  width:100%;
		  margin-left:-25;
  
   mais IE 7 ne supporte pas absolute */
#cadre #header #cadre_haut #bandeau3 {

	
	width:100%;
	text-align:right;
	margin-left:-25px;
	margin-top:-25px;
}


#cadre #header #cadre_haut #bandeau3 a,
#cadre #header #cadre_haut #bandeau3 a:focus,
#cadre #header #cadre_haut #bandeau3 a:visited {
	font-size: 11px;
	height: 16px;
	vertical-align: middle;
	color: #b355a1;
	font-weight: bold;
	text-decoration: underline;
	padding-left: 20px;
	background-repeat: no-repeat;
}
#cadre #header #cadre_haut #bandeau3 a:hover {
	color: black;
}
#cadre #header #cadre_haut #bandeau3 a#lien_codes_perdus {
	background-image: url("../IMG/codes_perdus.gif");
}

#cadre #header #cadre_haut #bandeau3 a#lien_information {
	background-image: url("../IMG/info.gif");
}

#cadre #header #cadre_haut #bandeau3 a#lien_contact {
	background-image: url("../IMG/contact.gif");
}
#cadre #header #cadre_haut #bandeau3 a#lien_deconnexion {
	background-image: url("../IMG/deconnexion.gif");
}
#cadre #header #cadre_haut #bandeau3 a#lien_aide {
	background-image: url("../IMG/Aide-mauve.gif");
}
#cadre #header #cadre_haut #bandeau3 a#lien_accueil {
	background-image: url("../IMG/accueil.gif");
}
/* Contient le titre Admission postbac en vertical */
#panneaugauche {
	display: inline;
	position: relative;
	float: left;
	border-right: 1px solid black;
	margin: 0px 20px 0px 4px;
	padding: 20px 0px 30px 0px;
       background-image: url("../IMG/sps.png");
	
	
}
#panneaugauche img {
    max-height: 370px ;
    max-width: 100px ;
}
/* Contient le corps de la page */
#panneaudroite {
	position: relative ; float: left ;
	width: 80%;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}
.spacer {
position : relative ; 
display : block ; clear : both ;
}
#pied {
	position : relative ;
	display : block;
	clear : both ; 
	float: none;
}
#pied hr {
	margin-top:30px;
	border: 0;
	background-color :#D1E2EC;
	height:3px;
	width:200px;	
	color :#D1E2EC;
	background-color :#D1E2EC;
}
#pied p{
	margin-top:0px;
	font-family : verdana, monospace, sans-serif;
	font-size : 12px;
	font-weight : normal;
	text-align : center;
	color:grey;
}
/* Titre de la page courante */
#titre {
	font-size : 12pt;
	font-weight : bold;
	text-align : center;
	text-decoration : underline;
	margin-bottom:10px;
}
/* --------------------------------------------------------rajout� par Fred pour sapb---------------------------------------------------------------------------------*/

/* conteneur pour affichage des voeux */
.aff_tab_voeux  {
	font-size:8pt;
	font-weight:normal;
	border-radius: 10px;
	background-color: lightgrey;
	margin:2px 2px 2px 5px;
	padding : 2px ;
	}
	
div .tuteurs{
	display: block; float: none ; position: relative; clear : both;
	font-size:8pt;
	font-weight:normal;
	border-radius: 5px;
	background-color:#D1E2EC ;
	margin:5px 5px 5px 5px;
	padding : 5px;
	}
	
div .formulaire{
position : relative;
display: block;
float:none;
clear: both;
font-weight:normal;
border-radius: 5px;
background-color: #D1E2EC; 
margin:10px 5px 10px 5px;
border-style : solid; 
border-width : thin;
border-color : lightskyblue ;
box-shadow: 0px 2px 5px #555;
padding : 5px 5px 5px 2px;
	
	}
        div .formulaire .formTitre{
            font-size: 1.2em;
            font-weight: bold;
        }
        
        div .formulaire div input {
            
        }
        div .formulaire div button {
            float : left ;
        }
	
	div .commentaire {
    display: block; float: none;position:relative;		
    font-weight:normal;
	border-radius: 10px;
	background-color: #D1E2EC; 
	margin:10px 2px 10px 5px;
	border-style : solid ;
	border-width : thin;
	border-color : lightgrey ;
	box-shadow: 1px 1px 12px #555;
	padding : 5px 5px 5px 2px;
		}
		
		div .warning{
			display: block; background-color: red;			
			}
			
div .bloc {
display: inline-block ; position : relative ; clear:both ;
}

div .avis_p1 {
margin-left: 15px;
border-style: dashed;
border-color: lightskyblue;
border-width: thin;
color: #24246A; background-color : #DCD9FF; font-size:120%; padding:10px;
}

.elevePrecedent{
    
    float : left ;
}

.eleveSuivant{
    
    float : right ;
}


.navigationEleve {
        display: block; float : none ; 
        height: 25px ; 
        font-weight:normal;
	border-radius: 5px;
	background-color: #fae4e0; 
	margin:10px 5px 10px 5px;
	border-style : solid; 
	border-width : thin;
	border-color : #F4BDC7 ;
	box-shadow: 0px 2px 5px #555;
	padding : 5px 5px 5px 2px;
	width : 100%;
	}
       
        .wrapper{
            position : relative ; 
        }
        .bts1 {
            position : relative ;float : left;
            top:0px ; left: 0px;
            display : inline-block;clear: none
                ;
            
            background-color: #fae4e0;
            margin:10px 5px 10px 5px;
	border-style : solid; 
	border-width : thin;
	border-color : #F4BDC7 ;
	box-shadow: 0px 2px 5px #555;
	padding : 5px 5px 5px 2px;
	width : 45%;
        }

        .bts2 {
            position :relative  ;float : left;
            top:0px ; right: 0px;
            display : inline-block;clear: none
                ;
            
            background-color: #fae4e0;
            margin:10px 5px 10px 5px;
	border-style : solid; 
	border-width : thin;
	border-color : #F4BDC7 ;
	box-shadow: 0px 2px 5px #555;
	padding : 5px 5px 5px 2px;
	width : 45%;
        }
  
        .clearboth {
            clear: both;
        }
        