@CHARSET "UTF-8";
/*
	Feuille de styles de base de l'application Postbac
	
	date: 2/9/2010 
	Modifi� par Fred R. 22/11/2011
*/

/* Ne pas afficher les �l�ments suivants � l'impression */
@media print {
    #noprint {display:none;}
}

/* Corps de page ********************************************************************************/
body {
	font-size: 12px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-style: normal;
	text-decoration: none;
	color: black;
	margin: 10px;
	padding: 0;
	background-image : url(../IMG/fond.png);
	background-repeat: no-repeat;
	background-attachment: fixed ;
}

/*rajout par Fj2r  */
IMG {
border : none; 
}


/* Classes simples ******************************************************************************/
.titre {
	font-size : 10pt; 
	font-weight : bold; 
	text-align : center; 
	color: black;
}
.txt18 {
	font-size:18px; 
}
.txt16 {
	font-size:16px; 
}
.txt13 {
	font-size:13px; 
}
.txt13Rouge {
	font-weight:bold; 
	color:#FF973D; 
	font-size:13px; 
}
.txt11 {
	color:#000000;
	font-size:11px; 
}
.txt11Rouge {
	color:#FF973D; 
	font-size:11px; 
}
.question {
	font-size: 12px;
}

/*
	TODO : � integrer avec les elements de tableau
	
.ligneTab9 {padding-left: 2px; font-size:9px; color : #000000; font-weight:normal; font-family:verdana, monospace, sans-serif; color:#000000; text-decoration: none}
.titreTab9 {padding-left: 2px; font-size:9px; color : #000000; font-weight:bold; font-family:verdana, monospace, sans-serif; color:#000000; text-decoration: none}

.ligneTab11 {padding-left: 2px; font-size:11px; color : #000000; font-weight:normal; font-family:verdana, monospace, sans-serif; color:#000000; text-decoration: none}
.titreTab11 {padding-left: 2px; font-size:11px; color : #000000; font-weight:bold; font-family:verdana, monospace, sans-serif; color:#000000; text-decoration: none}
*/


/* Liens ****************************************************************************************/
a:link, a:visited {
	text-decoration: underline; 
	color : blue;
	margin : 0.5em;
	font-size: 12px;
}
a:hover{
	color : grey;
}
a:active{
	color : #666666;
}
a.lien, .lien * {
	font-size:12px;
}
a.lien9, a.lien9 * {
	font-size:9px;
}
a.lien11, a.lien11 * {
	font-size:11px;
}
a.lien13, a.lien13 * {
	font-size:13px;
}
a.lien15, a.lien15 * {
	font-size:15px;
}

/* Titres de paragraphes ************************************************************************/
p.titre1 {
	font-size : 10pt;
}
p.titre2{
	line-height: 11px; 
	font-size : 9pt;
}
p.titre2 a:link, 
p.titre2 a:visited{
	text-decoration: none; 
	font-size : 9pt;
}
p.titre2 a:hover{
	text-decoration: underline; 
	color : grey;
}
p.titre3 {
	font-size : 8pt; 
	padding-left: 10px; 
	line-height: 15px;
}
p.titre3 a:link,
p.titre3 a:visited {
	text-decoration: none; 
	font-size : 8pt; 
	color : black;
	padding-left: 10px;
}
p.titre3 a:hover{
	text-decoration: underline; 
	color : grey;
	font-size : 8pt;
	padding-left: 10px;
}
p.titre3 a:active {
	color : #666666;
}
/* Texte de paragraphe ********************************************************************************/
p.txt13 {
	font-size : 13px; 
	padding-left: 0px;
}
p.txt13	a:link,
p.txt13	a:visited,
p.txt13Rouge a:link,
p.txt13Rouge a:visited {
	text-decoration: none; 
	font-weight:bold; 
	font-size : 13px; 
	padding-left: 0px;
}
p.txt13Rouge a:hover{
	text-decoration: underline; 
}

/*
	A voir si c'est utile
	
p.lien span,
p.lien9 span,
p.lien11 span,
p.lien13 span,
p.lien15 span { 
	padding-left: 5px; 
	text-decoration:none;
	vertical-align: middle;
}
*/

/* titre pages d'accueil (g�n�rale et module) */
p.accueil-titre {
    padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 2px;
	font-size : 10pt;	
	vertical-align: top;
	text-align: center;
	margin-top: 2px;	
	font-weight : bold;
	line-height: 15px;
	font-family : Verdana, Helvetica, Arial, sans-serif;;
}
/* textes pages d'accueil (g�n�rale et module) */
p.accueil-texte {
	text-indent: 25px;
    padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 2px;
	font-size : 8pt;	
	vertical-align: top;
	text-align: justify;
	margin-top: 2px;	
	line-height: 15px;
	font-family : Verdana, Helvetica, Arial, sans-serif;;
}
/* El�ments de tableau ********************************************************************************/
table {
	font-size: 10pt;
}
table.dossier-incoherent{
	font-size: 12px;
	background-color: white;
	color:red;
	border:1px solid red;
}
table.dossier-incoherent a {
	color:blue;
	text-decoration: underline;
}
table.dossier-incoherent a:hover {
	color:grey;
	text-decoration: underline;
}
table.maintenance{
	border-width: 1px;
	border-style:solid;
	border-color: orange;
	font-size: 11pt;
	background-color: #FADC82;
}
table.maintenance a {
	color:blue;
	text-decoration: underline;
}
table.maintenance a:hover {
	color:grey;
	text-decoration: underline;
}
/*
rajout par fj2r
*/
table.liste_voeux{
border-style : solid; border-width:1px; border-color: lightgrey; 
}
table.liste_voeux td{
background-color : #EEDDFF;  
}

table.audit{border-style : solid; border-width:1px; border-color: lightgrey; 
}
table.audit td{
background-color : #EEDDFF;  border-style : solid; border-width:1px; border-color: lightgrey;
}
/**/
td.voeux {
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 2px;
	font-size : 10pt;	
	vertical-align: top;
	margin-top: 2px;	
	font-weight : bold;
	line-height: 15px;
}

td.voeux a:link, 
td.voeux a:visited {
	font-weight : bold; 
	text-decoration: underline;
}
td.voeux a:hover {
	font-weight : bold; 
}
td.voeux a:active {
	font-weight : bold; 
	color : #666666;
}
td.intitule, tr.intitule {
 	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 2px;
	font-size : 12px;	
	vertical-align: top;
	margin-top: 2px;	
	font-weight : bold;
	line-height: 15px;
	vertical-align:middle;
}

/* El�ments DIV ****************************************************************************/
div.aide{
	background-color:#FFFFCC;
	border-width:thin;
	border-style:solid;
	border-color:gray;
	position:absolute;
}

div.blocInfo {
	width: 95%;
	font-weight: normal;
	padding : 5px 25px 5px 27px;
	border: 1px solid #0086FF;
	background-image: url(../IMG/info_thumb.gif);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	background-color: #BFE1FF;		
	margin: 5px 0px 5px 0px;		
}

div.bulle {
	font-size:11px;
	border: 1px solid #62BAFE;
	background-color: #DFFDFF;
}

/* Bloc de boutons 'Modifier', 'Reprendre l'inscription' dans les sous rubriques */
#repriseInscription{
	text-align:center;
	padding-top:15px;
}
/*//////////////////////////////////////////////////////////////////////////////////*/
div.arrow {background-image:  url(../IMG/fleche_gauche.jpg);}
div.arrow :hover {background-image:  url(../IMG/fleche_bas.jpg);}

div.titre_voeu {background-color: #DFFDFF;border: 1px solid #0086FF; font-size: 1.2em; font-family: Verdana; }



